body{
    background-color: rgb(185, 185, 196);
}

.titulo{
    background-color: rgb(143, 177, 177);
    max-width: fit-content;
}


.menu{
    list-style-type: none;
    padding: 0;
    background-color: rgb(107, 102, 93);
    width: 90%;
    max-width: fit-content;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 30px;
    display: block;
}
.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background-color: rgb(163, 173, 68);
}



@media screen and (max-width:700px){
    header{
        flex-direction: column;
    }

    .menu{
        padding: 10px 0px;
    }
}

#video, video {
    margin: 0;
    top: -100%;
    padding-top: 40px;
    width: 550px;
    height: 550px;
    left: 30%;  
}


